@font-face {
    font-family: "LEMON MILK Regular";
    src: url(fonts/LEMONMILK-Regular.otf);
}

@font-face {
    font-family: "LEMON MILK Medium";
    src: url(fonts/LEMONMILK-Medium.otf);
}

@font-face {
    font-family: "Be Vietnam Regular";
    src: url(fonts/BeVietnam-Regular.ttf);
}

@font-face {
    font-family: "Be Vietnam Bold";
    src: url(fonts/BeVietnam-Bold.ttf);

}

@font-face {
    font-family: "Be Vietnam Medium";
    src: url(fonts/BeVietnam-Medium.ttf);
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    list-style-type: none;
}

html {
    scroll-snap-type: y mandatory;
}

body {
    background: #F1E6FF;
    margin-left: 3%;
    
}

body::before {
    content: "";
    position: fixed;
    background-attachment: fixed;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top left, transparent 50%, #fbf8ff 50%);
    z-index: -1;
}

.wrapper {
    display: flex;
}

main {
    margin-left: 5dvw;
}

section {
    height: 100dvh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    min-height: 750px;
}

nav #sidebar {
    font-family: "LEMON MILK Regular", sans-serif;
    font-size: 20px;
    text-align: right;
    border-right: 3px solid black;
    width: 154px;
    height: 541px;
    display: flex;
    align-items: center;
    justify-content: right;
    position: sticky;
    top: 20dvh;
    }

#sidebar ul {
    margin-right: 1dvw;
    line-height: 40px;
}

#sidebar li {
    transition: all 0.4s ease 0s;
}

#sidebar li:hover {
    font-size:35px;
    transition: all 0.2s ease 0s;
}

section #about {
    display: flex;
    flex-direction: column;
}

#about #info {
    display: flex;
    justify-content: space-between;
}


#infoLeft h1 {
    font-family: "LEMON MILK Regular", sans-serif;
    font-size: 85px;
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
    0px -4px 10px rgba(255,255,255,0.3);
    padding-top: 22dvh;
    
}

#infoLeft p {
    font-family: "Be Vietnam Regular", sans-serif;
    font-size: 19px;
    padding-top: 2svh;
    padding-left: 3svw;
    padding-right: 13%;
    max-width: 70ch;
    min-width: 45ch;
}

#info img {
    width: 321px;
    height: 429px;
    margin-right: 7svw;
    margin-top: 25dvh;
}

#aboutButtons {
    display: flex;
    width: fit-content;
    flex-flow: column;
    margin-top: 5dvh;
    margin-left: 3dvw;
}

#aboutButtons .svg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 236px;
    margin-top: 11dvh;
}

#aboutButtons .svg svg {
    transition: transform 0.1s ease-in-out;
}
#aboutButtons .svg svg:hover {
    transform: scale(1.4);
    cursor: pointer;
}

#aboutButtons .button {
    font-family: "LEMON MILK Regular", sans-serif;
    font-size: 17px;
    line-height: 54px;
    border-radius: 3px 15px 15px 15px;
    background: #FFF;
    box-shadow: -1px 4px 4px 2px rgba(0, 0, 0, 0.20);
    width: 236px;
    height: 54px;
    margin-top: 5dvh;
    transition: all 0.8s ease 0s;
}

#aboutButtons .button  a{
    text-align: center;
    display: block;
    width: 233px;
    height: 54px;
}

#aboutButtons .button:hover  {
    transform: scale(1.4);
    color: #4CAF50;
    font-size: 20px;
    line-height: 54px;
    border-radius: 15px 15px 15px 15px;
    transition: all 0.8s ease 0s;
}

section #projects {
    display: flex;
}

#projects .project {
    display:flex;
    padding-top: 6dvh; 
    width: fit-content;       
    margin-left: 50px;
}

.project div {
    display: flex;
    flex-flow: column;
}
.project h2 {
    color: #000;    
    font-family: "LEMON MILK REGULAR", sans-serif;
    font-size: 19px;
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
    0px -4px 10px rgba(255,255,255,0.3);
}

.project img {
    height: 199px;
    width: 323px;
    background-color: white;
    margin-top: 10px;
	transition: .3s ease-in-out;
}

.project img:hover {
	transform: scale(1.1);
}

.project p {
    font-family: "Be Vietnam Regular", sans-serif;
    text-align: justify;
    line-height: 1.2;
    font-size: 17px;
    width: 30dvw;
    margin-top: 65px;
    margin-left: 35px;
}

.project p a {
    font-family: "Be Vietnam Medium", sans-serif;
    color: #007BFF;
    text-decoration: underline 0.15em rgba(0, 0, 0, 0);
    transition: all 300ms;
}
  
.project p a:hover {
    text-decoration-color: #007BFF;
}

#contact {
    margin-left:-10%;
}

#contact h1 {
    font-family: "LEMON MILK Medium",sans-serif;
    font-size: 85px;
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
    0px -4px 10px rgba(255,255,255,0.3);
    text-align: center;
    padding-top: 10svh
}

#contact #contactWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55svh;
    flex-flow:column;
}

.cardsWrapper {
    display: flex;
}

.cardContainer {
    height: 180px;
    width: 363px;
}

#linkedinCard {
    display: flex;
    flex-flow: row-reverse;
    align-items: end;
}

#emailCard {
    display: flex;
    flex-flow: column-reverse;
}

#githubCard {
    display: flex;
    flex-flow: row-reverse;
}

.card {
    width: 167px;
    height: 75px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.60);
    box-shadow: -1px 4px 4px 2px rgba(0, 0, 0, 0.20);
    margin:30px ;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease 0s;
}

.card:hover {
    transform: scale(1.9);
    margin:65px;
    transition: all 0.4s ease 0s;
}

#contact footer p {
    font-family: "Be Vietnam Regular", sans-serif;
    color: grey;
    text-align: center;
    position: absolute ;
    bottom: -200dvh;
    left: 41%;
}